@charset "utf-8";
/* CSS Document */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;padding:0;
} 
table {
	border-collapse:collapse;border-spacing:0;
} 
fieldset, img,input{ 
	border: none; 
}
img{
	display: block;
}

body{ 
    font: 12px/20px "微软雅黑","宋体","Arial Narrow",HELVETICA;
    background: #fff; 
    overflow-x: hidden;
}
a, u{ 
    text-decoration: none;
    color: #666;
}

i{
	font-style: normal;
}
fieldset, img,input{ 
     border: none; 
}
ul,ol,li{ 
    list-style: none; 
} 
h1,h2,h3,h4,h5,h6 {
    font-size:100%;font-weight:normal;
}
/*--- 清除浮动 ----*/
.clear:after{
    content: ".";
　   clear: both;
　   display: block;
　   height: 0;
    overflow: hidden;
　   visibility: hidden;
} 