/*9楼*/
.floor9Box{
	width: 100%;margin-top: 20px;
}
.floor9{
	width: 1210px;margin: 0 auto;overflow: hidden;
}
/*9楼的左部*/
.floor9 .floor9Left{
	width: 210px;height: 238px;padding-top: 236px;
	background: url(../img/floor9/001.jpg) no-repeat;float: left;
}
/*9楼的左部的上部*/
.floor9 .floor9Left .floor9LeftTop{
	overflow: hidden;background: #e4f6fd;padding: 10px;
}
.floor9 .floor9Left .floor9LeftTop li{
	float: left;
}
.floor9 .floor9Left .floor9LeftTop li a{
	display: block;width: 58px;height: 26px;line-height: 26px;
	color: #666666;padding-left: 30px;
}
.floor9 .floor9Left .floor9LeftTop a:hover{
	color: #B1191A;
}
.floor9 .floor9Left .floor9LeftTop .floor9LeftTopA1 a{
	background: url(../img/floor9/foodsicon.png) no-repeat 0 0;
	margin-bottom: 20px;margin-right: 10px;
}
.floor9 .floor9Left .floor9LeftTop .floor9LeftTopA2 a{
	background: url(../img/floor9/foodsicon.png) no-repeat 0 -26px;
	margin-bottom: 20px;
}
.floor9 .floor9Left .floor9LeftTop .floor9LeftTopA3 a{
	background: url(../img/floor9/foodsicon.png) no-repeat 0 -52px;
	margin-right: 10px;
}
.floor9 .floor9Left .floor9LeftTop .floor9LeftTopA4 a{
	background: url(../img/floor9/foodsicon.png) no-repeat 0 -78px;
}
/*9楼的左部的下部*/
.floor9 .floor9Left .floor9LeftBottom{
	background-color: #eff9fe;height: 100px;padding: 23px;
}
.floor9 .floor9Left .floor9LeftBottom a:hover{
	color: #B1191A;
}
.floor9 .floor9Left .floor9LeftBottom p{
	line-height: 26px;
}
.floor9 .floor9Left .floor9LeftBottom p a{
	color: #666;
}
.floor9 .floor9Left .floor9LeftBottom .floor9LeftBottomList{
	overflow: hidden;margin-top: 6px;
}
.floor9 .floor9Left .floor9LeftBottom .floor9LeftBottomList li{
	float: left;margin-right: 12px;line-height: 24px;
}
.floor9 .floor9Left .floor9LeftBottom .floor9LeftBottomList li a{
	color: #999;
}
.floor9 .floor9Left .floor9LeftBottom .floor9LeftBottomList li a:hover{
	color: #B1191A;
}
.floor9 .floor9Left .floor9LeftBottom .floor9LeftBottomList .floor9LeftActive{
	color: #B1191A;
}

/*9楼的右部*/
.floor9Right{
	width: 1000px;height: 474px;
	position: relative;float: left;
}
.floor9Right .floor2Box1{
	width: 1000px;height: 474px; 
	position: absolute;left: 0;top: 0;display: none;
}
.floor9Right .floor9Box1 .smallPic{
	width:219px;height: 473px;float: left;overflow: hidden;
	border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;
}
.floor9Right .floor9Box1 .smallPic > a{
	display: block; border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;
}
.floor9Right .floor9Box1 .floor9Scroll{
	width: 339px;height: 473px;
	border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;
	float: left;position: relative;overflow: hidden;
}
.floor9Right .floor9Box1 .floor2Scroll #floor9ScrollList{
	width: 1695px;height: 473px;position: absolute;
}
#floor9ScrollList li{
	width: 339px;height: 473px;float: left;
}
#floor9ScrollList li a{
	display: block;
}
#floor9ScrollList li a:first-child{
	border-bottom: 1px dashed #ccc;
}
.floor9Right .floor9Box1 > a{
	float: left;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;
}
/*下标的样式*/
.floor9 .floor9Right .floor9Box1 .floor9Scroll #floor9NumList{
	position: absolute;width: 70px;height: 10px;line-height: 10px;
	left: 50%;margin-left: -35px;bottom: 6px;
}
#floor9NumList li{
	float: left;width: 10px;height: 10px;border-radius: 5px;
	background-color: #3e3e3e;margin-right: 6px;cursor: pointer;
}
#floor9NumList .floor9NumListActive{
	background-color: #B1191A;
}
/*轮播图中的上一张和下一张*/
.floor9Scroll span{
	display: block;position: absolute;width: 30px;
	height: 60px;font-size: 30px;text-align: center;
	line-height: 60px;color: #fff;
	background: rgba(68, 68, 68, 0.4);
	top: 50%;margin-top: -30px;cursor: pointer;display: none;
}
.floor9Scroll .floor9ToLeft{
	left: 0;
}
.floor9Scroll .floor9ToRight{
	right: 0;
}

/*其它的商品列表框*/
.floor9Right .floor9Box2{
	overflow: hidden;display: none;
}
.floor9Right .floor9Box2 li{
	float: left;width: 169px;height: 206px;padding: 15px;
	border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;
}
.floor9Right .floor9Box2 li dl dt img{
	margin: 0 auto;
}
.floor9Right .floor9Box2 .floor9Box2ListDesc{
	display: block;height: 44px;line-height: 22px;overflow: hidden;
	color: #666;margin-top: 10px;margin-bottom: 4px;
}
.floor9Right .floor9Box2 .floor9Box2ListDesc:hover{
	color: #C81623;
}
.floor9Right .floor9Box2 .floor9Box2ListPrice{
	font-size: 16px;color: #e4393c;
}
