/*网页底部*/
.serviceWrap{
	width: 100%;
}
/*网页底部的网站服务信息*/
.severFoot{
	width:1210px;margin: 0 auto;overflow: hidden;
}
.severFoot li{
	float: left;width: 190px;
}
.severFoot h3{
	400 16px/24px "microsoft yahei";margin-bottom:8px;margin-top: 10px;
}
.severFoot h4{
	font-weight: normal;line-height: 24px;
}
/*京东自营覆盖区*/
.severFoot .lastLi{
	width:210px;height:153px;margin-right:0px;
	background:url(../img/footer/map.png) no-repeat 0 -131px;
}
.severFoot .lastLi h3{
	margin-bottom:18px;
}
.severFoot .lastLi span{
	line-height: 24px;
}
.severFoot .lastLi p{
	text-align: right;
}

/*网页底部的版权信息*/
.footer{width:1210px; margin:30px auto;border-top: 1px solid #EDEDED;padding-top: 30px;}
.footer>ul{width:1210px;text-align: center;}
.joinus{padding-top: 22px;padding-bottom:10px;text-align: center;}
.footer>ul>li{display: inline-block;padding: 0px 6px;}
.footer>ul>li:last-child{color: #fff;}
