/*网页右部的菜单*/
.toolbar-wrap{
	position: fixed;top: 0;right: 0;
	z-index: 9990;width: 0;height: 100%;
}
/*左边工具栏的粗线*/
.toolbar-line{
	z-index: 200;position: absolute;right:0px;top: 0;
	width: 0;height: 100%;border-right: 6px solid #7a6e6e;
	transition: right .3s ease-in-out 0s;
}
.change{
	right: 270px;
}
/*左边工具栏面板的顶部内容*/
.toolbar-line .toolbar-panel {
    width: 270px;height:100%;z-index:200;
    position: absolute;left:6px;top:0;
    background: #eceaea;visible: hidden;
}
.panel-header{
	position: relative;width: 270px;height: 40px;
	line-height: 40px;background: #eceaea;
}
.panel-header i{
	margin-right: 4px;margin-left: 10px;vertical-align: top;
}
.panel-title{
    display: inline-block;height: 40px;
    color: #5e5050;font: 16px/40px "微软雅黑";
}
.panel-header .close-panel{
	display: inline-block;width: 12px;height: 12px;
    position: absolute;right: 8px;top: 16px;cursor: pointer;
    background:url(../img/pageBoeder/toolbars.png) no-repeat 0px -250px;
}
.toolbar-panel-car i {
    width: 20px;height: 18px;display: inline-block;margin-top: 11px;
    background:url(../img/pageBoeder/toolbars.png) no-repeat 0px 0px;
}
/*左边工具栏的主要内容*/
.toolbar-panel-main{
	position: relative;
}
.toolbar-panel-content{
	width: 270px;position: relative;
	overflow-y: auto;overflow-x: hidden;
}
/*提示信息的盒子*/
.cart-tips .tips-inner {
    padding: 6px 5px;border: 1px solid #edd28b;
    background: #fffdee;text-align: center;
}
.cart-tips .tip-text{
    display: inline-block;line-height: 20px;
    vertical-align: tab;color: #333;
}
.cart-tips .tip-login{
    display: inline-block;height: 20px;line-height: 20px;
    padding: 0 5px;margin-left: 5px;
    color: #fff;vertical-align: tab;background: #c81623;
}
/*购物车的主要内容*/
.cart-msg .cart-msg-main{
	width: 270px;height:302px;
	padding-top: 200px;
}
.cart-msg .tips-inner{
	text-align: center;
}
.cart-msg .tip-face{
	width: 113px;height: 35px;display: inline-block;
	background:url(../img/pageBoeder/jdm-toolbar-face.png) no-repeat 0px 0px;
}
.cart-msg .tip-text{
	line-height: 20px;
}
.cart-msg .tip-text a{
	color: #c81623;
}
/*购物侧边栏的底部内容*/
.cart-footer{
	height: 50px;background-color: #eceaea;
}
.cart-footer .cart-checkout{
	height: 40px;padding: 5px 110px 5px 5px;position: relative;
}
.cart-checkout div{
	line-height: 20px;
}
.cart-checkout strong{
	font-family: verdana;color: #c81623;
}
.cart-checkout .cart-Btn{
	position: absolute;right: 5px;top: 7px;
	width: 110px;height: 35px;color: #fff;
	font: 16px/35px "微软雅黑";text-align: center;
	background: #c81623;
}

/*弹出 登录会话窗口*/
.loginDialog{
	position: fixed;left:0px;top:50px;
	width:460px;height:200px;border:4px solid rgba(0,0,0,.3);
	background-color:#fff;
}
/*登录会话窗口的头部*/
.dialog-title {
    position: relative;padding: 0 10px;
    width: 390px; height: 31px;line-height: 31px;
    background: #f3f3f3;font-size: 14px;
    color: #666;font-family: "Microsoft YaHei";
}
.dialog-title .dialog-close{
    display: block;position: absolute;top: 10px;right: 10px;
    overflow: hidden;width: 13px;height: 13px;
    background: url(../img/pageBoeder/dialog.png) no-repeat;
    
}
/*遮罩层*/
.shade{
	position:fixed;top:0;right:0;bottom:0;left:0;
	background-color:#000;z-index: 150;
}
/*弹出窗口*/
.loginDialog{
	z-index: 151;
}
/*登录会话窗口的内容*/
.dialogIframe{
	border: 0 none;width: 100%;height: 100%;
}
.dialog-content {
	height: 400px;width: 390px;overflow: hidden;
	padding: 10px;background: #fff;
}
.dialogIframe {
	border: 0 none;width: 100%;height: 100%;
}
.login-form {
	width: 306px;height: 420px;
	padding: 25px 0 15px;margin: 0 auto;
	position: relative;z-index: 4;background: #fff;
	overflow: visible;
}
.login-box {
	margin: 0;padding: 0;
}
.form-title {
	display: block;width: 306px;overflow: visible;height: 27px;
}
.form-title h2 {
	position: relative;top: -5px;float: left;
	color: #666;height: 27px;line-height: 27px;
	font-family: "宋体";font-size: 20px;font-weight: 400;
}
.form-title .extra-r {
	float: right;
}
.regist-link {
	color: #b61d1d;font-size: 14px;
}
.regist-link a {
	color: #b61d1d;font-size: 14px;
}
.regist-link a b {
	width: 16px;height: 16px;overflow: hidden;
	display: inline-block;vertical-align: tab;margin-right: 5px;
	background: url(../img/pageBoeder/pwd-icons-new.png) no-repeat -104px -75px;	
}
.login-box .form-title::after {
	content: ".";display: block;height: 0;
	clear: both;visibility: hidden;
}
/*登录表单的提示框*/
.msg-wrap {
	min-height: 31px;height: auto !important;
	height: 31px;margin: 2px 0 5px;
}
.login-form .msg-warn {
	position: relative;background: #fff6d2;color: #666;
	border: 1px solid #ffe57d;padding: 3px 10px 3px 40px;
	line-height: 18px;height: 18px;
}
.login-form .msg-warn b {
	position: absolute;top: 50%;left: 10px;display: block;
	margin-top: -8px;width: 16px;height: 17px;overflow: hidden;
	background: url(../img/pageBoeder/pwd-icons-new.png) -104px -22px no-repeat;
}
.login-form .msg-error {
	position: relative;background: #ffebeb;
	color: #e4393c;border: 1px solid #e4393c;
	padding: 3px 10px 3px 40px;line-height: 18px;
	min-height: 18px;_height: 18px;display: none;
}
.login-form .msg-error b {
	position: absolute;top: 50%;left: 10px;display: block;
	margin-top: -8px;width: 16px;height: 16px;overflow: hidden;
	background: url(../img/pageBoeder/pwd-icons-new.png) -104px -49px no-repeat;
}
.login-box .login-info {
	overflow: visible;
}
/*用户和密码*/
.form .item-fore1,.form .item-fore2 {
	border: 1px solid #bdbdbd;height: 38px;width: 304px;
}
.form .item {
	position: relative;margin-bottom: 20px;z-index: 1;
}
.form .item-fore1 {
	z-index: 6;
}
.form .item-fore2 {
	height: 38px;
}
.form .item .login-label {
	position: absolute;z-index: 3;
	top: 0;left: 0;width: 38px;height: 38px;
	border-right: 1px solid #bdbdbd;
	background: url(../img/pageBoeder/pwd-icons-new.png) no-repeat;
}
.form .item .name-label {
	background-position: 0 0;
}
.form .item .pwd-label {
	background-position: -48px 0;
}
.form .itxt {
	line-height: 18px;height: 18px;width: 254px;border: 0;
	padding: 10px 0 10px 50px;float: none;
	overflow: hidden;font-size: 14px;
}
.form .item-fore1 .clear-btn,.form .item-fore2 .clear-btn {
	position: absolute;z-index: 20;right: 6px;top: 12px;
	width: 14px;height: 14px;cursor: pointer;display: none;
	background: url(../img/pageBoeder/pwd-icons-new.png) -25px -143px no-repeat;
}
.form .item-fore1 .capslock,.form .item-fore2 .capslock {
	position: absolute;z-index: 4;overflow: hidden;
	display: none;width: 106px;top: 28px;left: 50px;
	padding-left: 26px;height: 26px;line-height: 28px;
	background: url(../img/pageBoeder/pwd-icons-new.png) no-repeat;
}
/*安全信息*/
.form .item-fore3 {
	z-index: 5;margin-bottom: 15px;
}
.login-form .login-box .safe {
	position: relative;color: #666;
}
.login-form .login-box .safe span {
	margin-right: 15px;
}
.form .jdcheckbox,.form .jdradio {
	float: none;vertical-align: tab;
	_vertical-align: -1px;margin: 0 3px 0 0;padding: 0;
}
.login-form .login-box .safe .forget-pw-safe {
	position: absolute;right: 0;top: 0;margin: 0;
}
/*登录按钮*/
.login-form .login-box .login-btn {
	border: 1px solid #cb2a2d;margin: 0 auto;
	height: 33px;position: relative;
}
.login-btn .btn-img {
	border: 1px solid #e85356;display: block;width: 302px;
	background: #e4393c;height: 31px;line-height: 31px;
	text-align: center;color: #fff;
	font-size: 20px;cursor: pointer;
	font-family: 'Microsoft YaHei';
}
/*合作伙伴*/
.login-form .reg-free{
	height: 18px;
}
.login-form .login-box .coagent {
	line-height: 22px;height: auto;
}
.login-form .login-box .coagent h5 {
	font-weight: 400;color: #999;
}
.login-form .login-box .coagent li {
	float: left;
}
.login-form .login-box .coagent li .line {
	color: #ccc;padding: 0 10px;
}
.loginBigbox{display: none;}

/*左边工具栏的小图标*/
.toolbar-tabs{
	position: absolute;top:40%;margin-top: -60px;
	width:35px;left: -29px;z-index: 210;
}
.toolbar-line .toolbar-tabs li, .toolbarBottom li{
	position: relative;width: 35px;height: 35px;
	border-top-left-radius: 3px;border-bottom-left-radius: 3px;
	margin-bottom: 1px;background-color: #7a6e6e;cursor: pointer;
}
.toolbar-tabs li:hover{
	background-color: #C81623;
}
.toolbarBottom li:hover{
	background-color: #C81623;
}
.toolbar-tabs li a, .toolbarBottom li a{
	display: block;height: 35px;width: 0;
	text-align: center;line-height: 35px;
	background-color: #C81623;position: absolute;
	right:30px;top: 0;color: #fff;
	border-top-left-radius: 3px;border-bottom-left-radius: 3px;
	overflow: hidden;
}
.toolbar-tabs .tab1{
	background: url(../img/pageBoeder/toolbars.png) no-repeat -88px -173px;
	background-color: #7a6e6e;
}
.toolbar-tabs .tab2{
	background: url(../img/pageBoeder/toolbars.png) no-repeat -50px 0px;
	background-color: #7a6e6e;
}
.toolbar-tabs .tab2 span{
	display: block;width: 17px;height: 15px;
	text-align: center;line-height: 15px;border-radius: 8px;
	position: absolute;top: -8px;right: 0;color: #fff;
	background-color: #B1191A;border: 1px solid #B1191A;
	display: none;
}
.toolbar-tabs .tab2:hover span{
	background-color: #fff;
	color: #B1191A;
}
.toolbar-tabs .tab3{
	background: url(../img/pageBoeder/toolbars.png) no-repeat -50px -50px;
	background-color: #7a6e6e;
}
.toolbar-tabs .tab4{
	background: url(../img/pageBoeder/toolbars.png) no-repeat -50px -100px;
	background-color: #7a6e6e;
}
.toolbar-tabs .tab5{
	background: url(../img/pageBoeder/toolbars.png) no-repeat -50px -150px;
	background-color: #7a6e6e;
}
.toolbar-tabs .tab6{
	background: url(../img/pageBoeder/toolbars.png) no-repeat -190px -150px;
	background-color: #7a6e6e;
}

/*右侧工具栏底部*/
.toolbarBottom{
	position: absolute;left: -29px;width: 100%;
	bottom: 0;z-index: 150;
}
.toolbarBottom .backToTop{
	background: url(../img/pageBoeder/toolbars.png) no-repeat -50px -250px;
	background-color: #7a6e6e;
}
.toolbarBottom  .feedback{
	background: url(../img/pageBoeder/toolbars.png) no-repeat -50px -300px;
	background-color: #7a6e6e;
}

